@model ComputerShop.Models.delivery

@{
    ViewBag.Title = "Данные получателя";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Доставка</legend>


        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.surname)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.surname)
            @Html.ValidationMessageFor(model => model.surname)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.country)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.country)
            @Html.ValidationMessageFor(model => model.country)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.city)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.city)
            @Html.ValidationMessageFor(model => model.city)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adress)
            @Html.ValidationMessageFor(model => model.adress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.postcode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.postcode)
            @Html.ValidationMessageFor(model => model.postcode)
        </div>

         <div class="editor-label">
            @Html.LabelFor(model => model.phone_number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.phone_number)
            @Html.ValidationMessageFor(model => model.phone_number)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
